---
import Layout from "../layouts/Layout.astro";
import Heading from "../components/common/Heading.astro";
import Gallery from "../components/gallery/Gallery.astro";

const layout_props = {
  background: "#FFB985",
  title: "Galery",
};
---

<Layout {...layout_props}>
  <main>
    <Heading>Gallery</Heading>
    <Gallery />
  </main>
</Layout>

<style>
  main {
    color: white;
  }
</style>
