---
import Layout from "../layouts/Layout.astro";

const layout_props = {
  background : "#FFB985",
  title : "Galery",
}

---

<Layout { ...layout_props }>
  <main>Under Construction!</main>
</Layout>

<style>
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
  }
</style>
