---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero.astro";
import About from "../components/home/About.astro";
import Contact from "../components/home/Contact.astro";

const layout_props = {
  background: "#BCB4FF",
  title: "Home",
}

---

<Layout { ...layout_props }>
  <main>
    <Hero />
    <About />
    <Contact />
  </main>
</Layout>

<style></style>
