---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/home/Hero.astro"
import About from "../components/home/About.astro"
---

<Layout title="Welcome to Astro.">
	<main>
		<Hero/>
		<About/>
	</main>
</Layout>

<style>
</style>
