---
import Layout from "../layouts/Layout.astro";
import { Pages } from "../utils/page_info";
---

<Layout page={Pages.PROJECTS}>
  <main>Under Construction!</main>
</Layout>

<style>
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
  }
</style>
