---
import VerticalSpacer from "../common/VerticalSpacer.astro";
---

<section id="footer">
  <VerticalSpacer height="64px" />
  <div class="icons">
    <a href="mailto:c349wu@uwaterloo.ca">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="75"
        height="56"
        viewBox="0 0 75 56"
      >
        <path
          d="M67.1171 0H6.94314C3.1085 0 0 3.1085 0 6.94314V48.602C0 52.4366 3.1085 55.5452 6.94314 55.5452H67.1171C70.9517 55.5452 74.0602 52.4366 74.0602 48.602V6.94314C74.0602 3.1085 70.9517 0 67.1171 0ZM67.1171 6.94314V12.8455C63.8737 15.4867 58.7031 19.5936 47.6492 28.2492C45.2132 30.1654 40.3877 34.7688 37.0301 34.7151C33.6731 34.7694 28.846 30.1646 26.411 28.2492C15.3588 19.5949 10.1869 15.4871 6.94314 12.8455V6.94314H67.1171ZM6.94314 48.602V21.7549C10.2576 24.3949 14.958 28.0995 22.1223 33.7095C25.2839 36.1982 30.8206 41.6921 37.0301 41.6587C43.2091 41.6921 48.6756 36.2779 51.9366 33.7107C59.1008 28.1008 63.8024 24.3952 67.1171 21.755V48.602H6.94314Z"
        ></path>
      </svg>
    </a>

    <a href="https://www.instagram.com/cwu.o7/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="63"
        height="63"
        viewBox="0 0 63 63"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M18.5132 0.189C21.8733 0.0349936 22.9443 0 31.5 0C40.0574 0 41.1267 0.0367404 44.4849 0.189C47.8396 0.341259 50.1305 0.875013 52.1342 1.65375C54.2358 2.445 56.1396 3.68476 57.7131 5.28676C59.3154 6.86013 60.5553 8.76404 61.3462 10.8658C62.1249 12.8695 62.6569 15.1603 62.811 18.5132C62.9651 21.8733 63 22.9443 63 31.5C63 40.0557 62.9633 41.1267 62.811 44.4869C62.6587 47.8396 62.1249 50.1305 61.3462 52.1342C60.5413 54.2046 59.4631 55.9632 57.7131 57.7131C56.1399 59.3154 54.2358 60.5553 52.1342 61.3462C50.1305 62.1249 47.8396 62.6569 44.4869 62.811C41.1267 62.9651 40.0557 63 31.5 63C22.9443 63 21.8733 62.9633 18.5132 62.811C15.1603 62.6587 12.8695 62.1249 10.8658 61.3462C8.79549 60.5413 7.03676 59.4631 5.28676 57.7131C3.68447 56.1399 2.44463 54.2358 1.65375 52.1342C0.875013 50.1305 0.343006 47.8396 0.189 44.4869C0.0349936 41.1267 0 40.0574 0 31.5C0 22.9425 0.0367404 21.8733 0.189 18.515C0.341259 15.1603 0.875013 12.8695 1.65375 10.8658C2.445 8.76419 3.68476 6.86036 5.28676 5.28676C6.8601 3.68447 8.76402 2.44463 10.8658 1.65375C12.8695 0.875013 15.1603 0.343006 18.5132 0.189ZM44.2294 5.859C40.9079 5.70849 39.9105 5.67524 31.5 5.67524C23.0895 5.67524 22.092 5.70849 18.7705 5.859C15.6993 5.999 14.0315 6.51174 12.922 6.944C11.452 7.5145 10.402 8.19699 9.29949 9.29949C8.19876 10.402 7.5145 11.452 6.944 12.922C6.51174 14.0315 5.999 15.6993 5.859 18.7705C5.70849 22.092 5.67524 23.0895 5.67524 31.5C5.67524 39.9105 5.70849 40.9079 5.859 44.2294C5.999 47.3007 6.51174 48.9685 6.944 50.0781C7.44863 51.4464 8.25354 52.684 9.29949 53.7006C10.3158 54.7464 11.5537 55.5514 12.922 56.056C14.0315 56.4884 15.6993 57.001 18.7705 57.141C22.092 57.2916 23.0878 57.3248 31.5 57.3248C39.9122 57.3248 40.9079 57.2916 44.2294 57.141C47.3007 57.001 48.9685 56.4884 50.0781 56.056C51.548 55.4855 52.5981 54.8031 53.7006 53.7006C54.7464 52.6843 55.5514 51.4464 56.056 50.0781C56.4884 48.9685 57.001 47.3007 57.141 44.2294C57.2916 40.9079 57.3248 39.9105 57.3248 31.5C57.3248 23.0895 57.2916 22.092 57.141 18.7705C57.001 15.6993 56.4884 14.0315 56.056 12.922C55.4855 11.452 54.8031 10.402 53.7006 9.29949C52.5981 8.19876 51.548 7.5145 50.0781 6.944C48.9685 6.51174 47.3007 5.999 44.2294 5.859ZM27.478 41.2103C28.7532 41.7386 30.1197 42.0104 31.5 42.0104C34.2877 42.0104 36.961 40.903 38.932 38.932C40.9033 36.961 42.0107 34.2875 42.0107 31.5C42.0107 28.7125 40.9033 26.039 38.932 24.0679C36.961 22.0968 34.2877 20.9895 31.5 20.9895C30.1197 20.9895 28.7532 21.2614 27.478 21.7896C26.2026 22.3177 25.044 23.0919 24.068 24.0679C23.092 25.0439 22.3178 26.2026 21.7896 27.4777C21.2614 28.7529 20.9896 30.1197 20.9896 31.5C20.9896 32.8803 21.2614 34.2471 21.7896 35.5223C22.3178 36.7974 23.092 37.9561 24.068 38.932C25.044 39.9079 26.2026 40.6822 27.478 41.2103ZM20.0513 20.0512C23.0877 17.0148 27.206 15.309 31.5 15.309C35.7943 15.309 39.9125 17.0148 42.9488 20.0512C45.9851 23.0876 47.691 27.206 47.691 31.5C47.691 35.794 45.9851 39.9122 42.9488 42.9488C39.9125 45.9851 35.7943 47.691 31.5 47.691C27.206 47.691 23.0877 45.9851 20.0513 42.9488C17.0149 39.9122 15.3091 35.794 15.3091 31.5C15.3091 27.206 17.0149 23.0876 20.0513 20.0512ZM51.2811 17.7213C51.9988 17.0035 52.402 16.03 52.402 15.015C52.402 13.9999 51.9988 13.0265 51.2811 12.3087C50.5632 11.591 49.5899 11.1877 48.5747 11.1877C47.5598 11.1877 46.5862 11.591 45.8686 12.3087C45.1507 13.0265 44.7475 13.9999 44.7475 15.015C44.7475 16.03 45.1507 17.0035 45.8686 17.7213C46.5862 18.439 47.5598 18.8422 48.5747 18.8422C49.5899 18.8422 50.5632 18.439 51.2811 17.7213Z"
        ></path>
      </svg>
    </a>
  </div>
  <VerticalSpacer height="64px" />
</section>

<style>
  #footer {
    width: 100%;
  }
  .icons {
    display: flex;
    justify-content: space-evenly;
    bottom: 1rem;
  }

  .icons svg {
    height: 50px;
    fill: white;
  }

  .icons svg:hover {
    fill: #3c3951;
  }
</style>
