---
interface Props {
  status: "searching" | "working";
}
const status_messages = {
  searching: "Open for work",
  working: "Hard at work",
};

const { status } = Astro.props;
const current_message = status_messages[status];
---

<div id="chelsea-status">
  <div id="status-circle" class={status}></div>
  <div>Status: {current_message}</div>
</div>

<style>
  #chelsea-status {
    background-color: white;
    border-radius: 30px;
    z-index: 1;
    padding: 9px;
    box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: fit-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 9px;
  }

  #chelsea-status > * {
    line-height: 24px;
    font-size: 24px;
    color: #5f5a88;
    font-weight: 500;
  }

  #status-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  .searching {
    background-color: #b7f39d;
  }

  .working {
    background-color: #ff6961;
  }
</style>
