---
import ProjectLayout from "../../layouts/ProjectLayout.astro"
import { layout_props } from "./index.astro"
---

<ProjectLayout { ...layout_props } header="Softsoap">
    <p>hihihii</p>
</ProjectLayout>
