---
import NavLink from "./NavLink.astro";
import nav_links from "./nav_links";
---

<nav id="chelsea-nav">
  <ul>
    {
      nav_links.map((link) => (
        <li>
          <NavLink {...link} selected={Astro.url.pathname === link.href} />
        </li>
      ))
    }
  </ul>
</nav>

<style>
  nav {
    width: 100%;
    padding: 2rem;
    position: static;
    box-sizing: border-box;
    font-family: Josefin Sans;
    z-index: 10;
    background-color: var(--background-color);
    font-size: 2rem;
  }

  nav.mobile ul {
    flex-direction: column;
  }

  ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 5rem;
    color: white;
  }
</style>
